.section-advantage {
  padding-top: 94px;

  max-width: var(--max-width);
  margin: var(--margin);
}

.advantage-title {
  color: var(--color-conten);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.advantage-rubric {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.advantage-list {
  display: flex;
}

.advantage-item {
  width: 270px;
}

.advantage-item:not(:last-child) {
  margin-right: 30px;
}
