.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-border-color);
  border-radius: 4px;

  width: 100%;
  height: 100%;

  transition: border 250ms var(--transition-property);
}

.client-icon {
  fill: var(--icon-border-color);
  transition: fill 250ms var(--transition-property);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-primary);
}

.clients-link:hover .client-icon,
.clients-link:focus .client-icon {
  fill: var(--accent-primary);
}
