.footer {
  background-color: var(--background-dark);
}

.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer__descr {
  color: var(--white-color);
}

.footer__list {
  margin-top: 20px;
}

.footer__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__link {
  color: var(--rgba-link);
}

// footer form
.footer-form {
  margin-left: 80px;
}

.footer-form__description {
  display: inline-block;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);

  margin-bottom: 20px;
}

.footer-form__container {
  display: inline-flex;
}

.footer-form__input {
  min-width: 358px;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  color: var(--white-color);
  background-color: var(--background-dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  transition: border-color 250ms var(--transition-property);

  &:focus {
    outline: none;
    border-color: var(--accent-primary);
  }
}

.footer-form__btn {
  display: flex;
  justify-content: center;

  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 12px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  cursor: pointer;

  border-radius: 4px;
  border: transparent;

  background-color: var(--accent-primary);
  color: var(--white-color);
  transition: background-color 250ms var(--transition-property);

  &:hover,
  &:focus {
    background-color: var(--accent-secondary);
  }
}

.footer-form__icon {
  fill: var(--white-color);
  margin-left: 10px;
}
