.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  margin: var(--margin);
}

.footer {
  background-color: var(--background-dark);
}

.footer-address {
  color: var(--white-color);
}

.footer-list {
  margin-top: 20px;
}

.footer-link {
  color: var(--rgba-link);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-footer-social {
  margin-left: 70px;
}

.social-title {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
  margin-top: 20px;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-icon {
  fill: var(--white-color);
}

.social-link:hover .footer-icon,
.social-link:focus .footer-icon {
  fill: var(--white-color);
}

.footer-form {
  margin-left: 80px;
}

.footer-form-description {
  display: inline-block;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);

  margin-bottom: 20px;
}

.form-contfiner {
  display: inline-flex;
}

.footer-input {
  min-width: 358px;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  color: var(--white-color);
  background-color: var(--background-dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  transition: border-color 250ms var(--transition-property);
}

.footer-input:focus {
  outline: none;
  border-color: var(--accent-primary);
}

.footer-form-btn {
  display: flex;
  justify-content: center;

  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 12px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  cursor: pointer;

  border-radius: 4px;
  border: transparent;

  background-color: var(--accent-primary);
  color: var(--white-color);
  transition: background-color 250ms var(--transition-property);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--accent-secondary);
}

.footer-form-icon {
  fill: var(--white-color);
  margin-left: 10px;
}
