.header {
  border-bottom: solid 1px;
  border-color: var(--border-color-header);

  max-width: var(--max-width);
  margin: var(--margin);
}

.header .container {
  display: flex;
  align-items: center;
}

.contact-header {
  color: var(--main-text);
  fill: var(--main-text);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: color 250ms var(--transition-property),
    fill 250ms var(--transition-property);
}

.contact-header:hover,
.icon-mail:hover,
.icon-tell:hover,
.contact-header:focus,
.icon-mail:focus,
.icon-tell:focus {
  color: var(--accent-primary);
  fill: var(--accent-primary);
}

.contact-item {
  margin-right: 50px;
}

.contact {
  margin-left: auto;
}

.icon-mail,
.icon-tell {
  margin-right: 10px;
}
